<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utrgv.cgwa.metrec" >

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="15" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo_wide"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreenActivity"
            android:label="Nanograv Tabletop PTA" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuiltinMetronomeActivity"
            android:label="Metronome"
            android:parentActivityName=".HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <service
            android:name=".BuiltinMetronomeService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".NewProfileActivity"
            android:label="Profiler"
            android:parentActivityName=".ProfileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileListActivity" />
        </activity>
        <activity
            android:name=".ProfileListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Profiles"
            android:parentActivityName=".HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".HomeScreenActivity" >
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="Pulse Profile"
            android:parentActivityName=".ProfileListActivity" >
        </activity>
        <activity
            android:name=".ViewTimeSeriesActivity"
            android:label="Time Series"
            android:parentActivityName=".ProfileListActivity" >
        </activity>
        <activity
            android:name=".SingleMetronomeAnalysisActivity"
            android:label="Single Metronome Analysis"
            android:parentActivityName=".SingleMetronomeAnalysisListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utrgv.cgwa.metrec.SingleMetronomeAnalysisListActivity" />
        </activity>
        <activity
            android:name=".SelectProfilesActivity"
            android:label="Select profile(s) below"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SingleMetronomeAnalysisListActivity"
            android:label="Analyses"
            android:parentActivityName=".HomeScreenActivity" >
        </activity>
        <activity
            android:name=".ViewAnalysisPulsesActivity"
            android:label="Pulse Analysis"
            android:parentActivityName=".SingleMetronomeAnalysisListActivity" >
        </activity>
        <activity
            android:name=".ViewAnalysisResidualsActivity"
            android:label="Residuals"
            android:parentActivityName=".SingleMetronomeAnalysisListActivity" >
        </activity>
        <activity
            android:name=".AudioRecordListActivity"
            android:label="Audio Recordings"
            android:parentActivityName=".HomeScreenActivity" >
        </activity>
        <activity
            android:name=".SelectAudioRecordActivity"
            android:label="@string/title_activity_select_audio_record"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
